/* GENERAL */


/* -- Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


/* Global CSS settings */

* {
    margin:0;
}

h1 {
    font-family: var(--font-Oswald);
    font-size: 38px;
    font-weight: 600;
    color: var(--magenta-desk);
}

a, a>a {
    text-decoration: none;
    color:var(--black-color);
}

ul, ul>ul {
    list-style-type: none;
    padding-left: 0;
}
/* -- Root CSS variables */ 

:root {
    /* colors */
    --white-color: #ffff;
    --black-color: #000000;
    --seafoam-green:#30cd8a;
    --magenta-desk:#423b73;
    --background-blue: #1e1d31;
    --highlight-red:#E34E67;
    /* fonts */
    --font-Open-Sans: 'Open Sans', sans-serif;
    --font-Oswald: 'Oswald', sans-serif;
    --font-Pacifico: 'Pacifico', cursive;
}

/* -- Components */

.btn {
    background-color: var(--seafoam-green);
    font-family: var(--font-Open-Sans);
    color:var(--white-color);
    font-size: 16px;
    font-weight: 600;
    fill: var(--white-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 13px 30px;
}

.btn:hover {
    color:var(--seafoam-green);
    background-color: var(--white-color);
    fill:var(--seafoam-green);
}

/* HEADER */

header{
    max-width: 1440px;
    margin:60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 15px;
}

header>nav>ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

header img{
    width:200px;
}

header a, header>nav>ul>li:nth-child(2)>ul>li>a {
    font-family: var(--font-Open-Sans);
    color:var(--magenta-desk);
    font-weight: 600;
    font-size: 16px;
    transition: all 0.2s; 
}

header a:hover{
    color:var(--seafoam-green);
    transition: all 0.2s;
}

header nav ul li:nth-child(1) a:nth-child(1) {
    color:var(--seafoam-green);
}

header nav ul li:nth-child(4) a:nth-child(1) {
    color:var(--highlight-red);
}

header nav ul li:nth-child(1) a:nth-child(1):hover {
    opacity: 0.5;
    transition: all 0.2s;
}

header nav ul li:nth-child(4) a:nth-child(1):hover {
    color:var(--seafoam-green);
    transition: all 0.2s;
}

header nav ul li:nth-child(2)>#submenu a {
    color:var(--black-color);
    font-size: 12px;
    transition: all 0.2s;
} 

header nav ul li:nth-child(2)>#submenu a:hover{
    opacity: 0.6;
    transition:all 0.2s;
}


#submenu{
    display: none;
}

header nav ul li:nth-child(2):hover #submenu{
    display: grid;
    background-color: #fff;
    padding: 20px 10px;
    gap: 20px;
    position: absolute;
    list-style-type: none;
}

/* id="down-arrow" 
#down-arrow{
    vertical-align: middle;
} */

/* MAIN */

main section:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0px 10px;
}

main p {
    font-family: var(--font-Open-Sans);
    color:var(--magenta-desk);
    font-weight: 100;
    margin: 40px 0px;
}

main section:nth-child(1) article:nth-child(1) h2{
    font-family: var(--font-Pacifico);
    color:var(--highlight-red);
    font-weight: 100;
}

main section:nth-child(1) article p div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main section:nth-child(2) div article {
    background-color: var(--background-blue);
    display: grid;
    grid-template-columns: repeat(2, 20% 70%);
    padding: 100px 60px;
    /* width: 100%; */
    gap: 40px;
    margin: 25px auto;
}

main section:nth-child(2) div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
 
/* main section:nth-child(1) article:nth-child(1) {
    grid-row: 1/3 ;
} */

/* main section:nth-child(1) .btn #section2-btn {
    margin: auto;
    text-align: center;
    align-items: center;
} */

/* #section2-btn {
    margin: 0px 250px 0px 250px;
} */

main section:nth-child(2) article h2 {
    font-family: var(--font-Oswald);
    color:var(--seafoam-green);
}

/* main section:nth-child(2) article {
    display: grid;
    grid-template-columns: repeat(2, 20% 70%);<div>
} */

main section:nth-child(2) article div p {
    color:var(--white-color);
}

main section:nth-child(3) {
    text-align: center;
}

main section:nth-child(3) h3 {
    font-family: var(--font-Pacifico);
    color:var(--highlight-red);
}

main section:nth-child(3) h2 {
    font-family: var(--font-Oswald);
    color:var(--magenta-desk);
}
/* FOOTER */

footer {
    background-color: var(--background-blue);
    max-width: 1440px;
    margin:auto;
    color:var(--white-color);
    font-family: var(--font-Open-Sans);
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
    padding: 40px 20px;
    align-items: center;
}


/*
footer>section:nth-child(1) {
}
*/

footer a{
    color:var(--white-color);
    transition: all 0.2s;
}

footer a:hover{
    color:var(--seafoam-green);
    transition: all 0.2s;
}

footer>section:nth-child(1){
    display: grid;
    background-color: var(--background-blue);
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
}

/* footer>section>article{
    gap: 20px;
} */

footer>section:nth-child(1)>article>h2{
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: var(--font-Oswald);
}

footer>section:nth-child(1) ul li{
    padding: 8px 0px;
}

footer>section:nth-child(2) {
   /* background-color: var(--white-color);
    width: 1440px;
    margin: auto; */
    text-align: center;
    color:var(--magenta-desk);
    padding: 20px 0px;
    font-family: var(--font-Open-Sans);
    font-weight: 100;
}

footer>section:nth-child(2) a{
    color:var(--magenta-desk);
}

footer>section:nth-child(2) a:hover{
    color:var(--highlight-red);
}

/* 
footer {
    max-width: 1440px;
    margin:auto;
    justify-content: space-between;
    background-color: var(--background-blue);
    color:var(--white-color);
    align-items: center;
    padding: 20px 20px;
    font-family: var(--font-Open-Sans);
}

footer>section {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    /* width: 160px; */
/* }

footer>section>article>h2{
    padding-bottom: 20px;
}

footer>section>article {
    width: 160px;
    margin: auto;
    text-align: left;
}
*/

/* footer>ul>li {
    margin: 25px 0px;
} */